<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <div class="p-3 mb-2 bg-primary text-white">
        {% if food_records %}
        {% for record in food_records %}
            <a href="{% url 'order:veg_food' %}">{{ record.class_name }}</a> </th>
        {% endfor %}
        {% else %}
          <h1> No access records found </h1>
        {% endif %}
      </div>

    </div>
  </body>
</html>
