<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Please, Select your vegetarian food items!</h1>
    {% if veg_records %}
    {% for record in veg_records %}
           {{ record.food_name }}
           {{ record.price}}
           
           <form  method="post">
             {{ form.as_p }}
             {% csrf_token %}
             <input type="submit" name="" value="Submit">

    {% endfor %}
    {% else %}
      <h1> No access records found </h1>
    {% endif %}
  </body>
</html>
