<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <div class="p-3 mb-2 bg-primary text-white">
        <h1>Please select your table number.</h1>
        <p><input type="button" name="" value="Table no.1"></p>
        <p><input type="button" name="" value="Table no.2"></p>
        <p><input type="button" name="" value="Table no.3"></p>
        <p><input type="button" name="" value="Table no.4"></p>
      </div>

    </div>
  </body>
</html>
